%p#notice= notice
%p
  %strong Heading:
  = @list.heading
%p
  %strong Sub heading:
  = @list.sub_heading
%p
  %strong Description:
  = @list.description
%p
  %strong User:
  = @list.user
= link_to 'Edit', edit_list_path(@list)
|
= link_to 'Back', lists_path
