= simple_form_for @place do |form|
  = form.input :heading
  = form.input :name
  = form.input :address
  = form.input :latitude
  = form.input :longitude
  = form.association :list
  = form.button :submit
