!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PatricksList
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    / Material Design fonts
    %link{:href => "//fonts.googleapis.com/css?family=Roboto:300,400,500,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "//fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet", :type => "text/css"}/
    / Bootstrap
    %link{:href => "//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    / Bootstrap Material Design
    %link{:href => "dist/css/bootstrap-material-design.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "dist/css/ripples.min.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    %p.notice= notice
    %p.alert= alert
    = yield
